body,
html {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}


.btn {
    position: absolute;
    top: 40%;
    left: 41%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: xx-large;
    font-weight: 700;
    font-style: oblique;
}